body{
    background-color: #192055;
    background-image: linear-gradient(180deg, #192055 0%, #6445a9 46%, #5d76ca 100%);

}

.contenedor-footer{
    background: #ffffff98;
    box-shadow: 0 8px 32px 0 #292929;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
}


