section{
    margin: 50px 10px 50px 10px;
    height: 400px;
    background: #ffffff98;
    box-shadow: 0 8px 32px 0 #292929;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
}


.section-1{
    @extend section ; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.section-2{
    @extend section ;
    height: auto;
    display: flex;
    gap: 30px;
    align-items: center;
}


.foto-section-2{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 20px;
}


.foto-section-3{
    @extend .foto-section-2;
    margin: 20px;
}