@mixin section-2 {
    margin: 50px 10px 50px 10px;
    height: 400px;
    background: #ffffff98;
    box-shadow: 0 8px 32px 0 #292929;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    height: auto;
    display: flex;
    gap: 30px;
    align-items: center;
}

.section-3{
    @include section-2;
}
